.About {
  text-align: left;
  background: #589
   url("http://holytrinity.academy/wp-content/uploads/2016/11/Blue-Background.jpg")
  center center no-repeat;
  color: #FFF;
  padding-top: 2%;
  padding-bottom: 3%;
}
