.jumbotron {
	background: #589
	 url("http://www.pptbackground.net/background/Raising-hands-Together-Powerpoint-for-Powerpoint-Templates.jpg")
	center center no-repeat;
        color: #fff;
  padding-top: 10%;
	padding-bottom: 10%;
}
