.jumbotron {
	background: #589
	 url("http://holytrinity.academy/wp-content/uploads/2016/11/Blue-Background.jpg")
	center center no-repeat;
        color: #fff;
  padding-top: 20%;
	padding-bottom: 20%;
}
