.ExamplePetition {
  text-align: center;
  background: rgba(78,193,228,.7);
  padding-top: 5%;
  padding-bottom: 5%;

}
h1{
	font-size:45px;
}
h3{
	font-size:19px;
}
.test{
	font-size: 25px;
}
h1.title {
  text-align: center;
  padding-top:2%;
  padding-bottom: 2%;
  font-size:8px;
}

.title .desc {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 3px;
}

Panel.test{
	bsStyle: "info";
	background-color: rgba(150,150,150,.7);
}