.Home {
  text-align: center;
  background: #589
   url("https://i.imgur.com/yXHgFvT.png")
  center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #4682B4;

}

.reportBug {
  grid-row: 2/4;
  grid-column: 2;
}

.submitFeedback {
  grid-row: 2/4;
  grid-column: 2;
}

.socialmedia {
  display: inline-block;
  padding: 5px;
  margin-top: 15px;
  bottom: 0;
}
