body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  text-align: center;

  background: #589
   url(""https://www.xmple.com/wallpaper/gradient-blue-white-linear-2736x1824-c2-ffffff-add8e6-a-270-f-14.svg)
}
