.LogIn {
  text-align: left;
  background: #589
   url("https://i.imgur.com/yXHgFvT.png")
  center center no-repeat;
  color: #FFF;
  padding-top: 2%;
  padding-bottom: 3%;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    padding-bottom: 2%;
}
